<nav aria-label="breadcrumb">
  <ol class="breadcrumb basic_shadow">
    <li class="breadcrumb-item" aria-current="page">
    	<%= link_to "Home", admin_root_path, class: "breadcrumb-item-item" %>
    </li>
    <li class="breadcrumb-item" aria-current="page">
    	<%= link_to "Comments", admin_comments_path, class: "breadcrumb-item-item" %>
  	</li>
  </ol>
</nav>