<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to admin_comments_path, class: "nav-link active" do %>
      <i class="fas fa-list-ul"></i>List
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to "#", class: "nav-link" do %>
      <i class="fas fa-file-export"></i>Export
    <% end %>
  </li>
</ul>