// Place all the styles related to the admin::mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mains_index, .mains_products_index {
	> .container-fluid {
		> .row {
			> .sidebar {
				> .list-group {
					> .list-group-item {
						border: 0;
						background-color: $darkgray;
						color: $white;
						> i {
							color: $primary;
							font-size: 22px;
							margin-right: 10px;
						}
					}
					> .list-group-item-action:hover {
						background-color: $dark;
					}
					> .active {
						background-color: $dark;
					}
				}
			}
			> .sidecontent {
				> nav {
					> ol {
						background-color: $white;
						> li {
							> .breadcrumb-item-item {
								color: $lightslategray;
								text-decoration: none;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
	}
}