// Place all the styles related to the admin::mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// mains index, products_index
.sidber_breadcrumb {
	> .container-fluid {
		> .row {
			> .sidebar {
				> .list-group {
					box-shadow: 0 4px 70px -18px $dark;
					> .list-group-item {
						border: 0;
						background-color: $darkgray;
						color: $white;
						> i {
							color: $primary;
							font-size: 24px;
							width: 27px;
							margin-right: 20px;
						}
					}
					> .list-group-item-action:hover {
						background-color: $dark;
						> i {
							color: $white;
						}
					}
					> .active {
						background-color: $dark;
						> i {
							color: $white;
						}
					}
				}
			}
			> .sidecontent {
				> nav {
					  box-shadow: 0 4px 70px -18px $dark;
					  margin-bottom: 30px;
					> ol {
						background-color: $white;
						> li {
							> .breadcrumb-item-item {
								color: $lightslategray;
								text-decoration: none;
								font-weight: 500;
							}
							> .breadcrumb-item-item:hover {
								color: $primary;
							}
						}
					}
				}
			}
		}
	}
}

// mains widget
.row {
	> .widget {
		margin-bottom: 30px;
		> .widget-body {
			height: 130px;
			box-shadow: 0 4px 70px -18px $dark;
			> div {
				margin-bottom: 5px;
				> i {
					color: $primary;
					font-size: 24px;
				}
				> span {
					font-size: 36px;
				}
			}
		}
		> .widget-item {
			background-color: $white;
		}
		> .widget-item2 {
			background-color: $orangered;
			color: $white;
			> div {
				> i {
					color: $white;
				}
			}
		}
		> .widget-item3 {
			background-color: $deepskyblue;
			color: $white;
			> div {
				> i {
					color: $white;
				}
			}
		}
	}
}