// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mains_products_index {
	> .container-fluid {
		> .row {
			> .sidecontent {
				> .widget {
					background-color: $white;
					box-shadow: 0 4px 70px -18px $dark;
					> .widget-header {
						> h5 {
							border-bottom: 2px solid $lightgray;
							padding: 0.75rem 1rem;
						}
					}
					> .widget-body {
						padding-right: 15px;
						padding-left: 15px;
						> ul {
							> .nav-item {
								> a {
									color: $black;
								}
							}
						}
					}
				}
			}
		}
	}
}