// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mains_products_index {
	> .container-fluid {
		> .row {
			> .sidecontent {
				> .widget {
					background-color: $white;
					box-shadow: 0 4px 70px -18px $dark;
					> .widget-header {
						> h5 {
							border-bottom: 2px solid $lightgray;
							padding: 0.75rem 1rem;
						}
					}
					> .widget-body {
						padding-right: 15px;
						padding-left: 15px;
						> ul {
							> .nav-item {
								> a {
									color: $black;
								}
							}
						}
						> .tab-content {
							> .tab-pane {
								> .table {
									> tbody {
										> tr {
											> td {
												> .icon {
													text-decoration: none;
												}
												> .icon1 {
													color: $deepskyblue;
												}
												> .icon2 {
													color: $orangered;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// _prev_page.html.erb
.page-item {
	margin-bottom: 20px;
}

// products form
.mains_products_form {
	.form-item {
		background-color: $lightgray;
		padding: 10px 20px 0px 20px;
		margin-bottom: 10px;
		border-radius: 5px;
	}
}