<section class="goshopping">
	<!-- carousel -->
	<div class="goshopping_carousel"></div>
	<div class="container">
		<div class="goshopping_product_card_nav">
			<ul class="nav nav-pills nav-fill">
			  <li class="nav-item">
			    <%= link_to "全部產品分類", root_path, class: "nav-link active" %>
			  </li>
			  <% @categories.each do |category| %>
				  <li class="nav-item">
				  	<%= link_to category.name, category_path(category), class: "nav-link" %>
				  </li>
			  <% end %>
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<%= render "shared/product_list" %>
		</div>
	</div>
</section>
