$lightgray: #eee;
$darkgray: #343a40;
$white: #fff;
$dark: #161616;
$primary: #4ae387;
$lightslategray: #778899;
$deepskyblue: #00BFFF;
$orangered: #FF4500;
$black: #000;
$pink: #e83e8c;
$info: #17a2b8;
