// Place all the styles related to the mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// mains index
.mains_product_index {
	> .container-fluid {
		> .row {
			> .col-2 {
				> .card {
					min-height: 317px;
					text-decoration: none;
					color: $black;
					> .card-img-top {
						max-height: 208px;
						width: 100%;
					}
					> .card-body {
						padding: 10px 5px;
						> p {
							font-size: 14px;
							> span:last-child {
								color: $orangered;
								font-weight: 700;
							}
						}
					}
				}
				> .card:hover {
					> .card-body {
						> p {
							span:first-child {
								color: $pink;
							}
						}
					}
				}
			}
		}
	}
}
