<section class="goshopping">
	<!-- carousel -->
	<div class="goshopping_carousel"></div>
	<div class="container">
		<div class="goshopping_product_card_nav">
			<ul class="nav nav-pills nav-fill">
			  <li class="nav-item">
			    <%= link_to "全部產品分類", root_path, class: "nav-link" %>
			  </li>
			  <!-- 這邊判斷category==@category的時候要加 a.active -->
			  <% @categories.each do |category| %>
				  <li class="nav-item" class="<%= "active" if category == @category %>"><%= link_to category.name, category_path(category), class: "nav-link #{'active' if category == @category}" %>
				  </li>
			  <% end %>
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<%= render "shared/product_list" %>
		</div>
	</div>
</section>
