<ul class="nav justify-content-start">
  <li class="nav-item">
    <a class="nav-link" href="#">產品介紹</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">訂購須知</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">消費者商品評鑑</a>
  </li>
</ul>