<ul class="nav justify-content-start">
  <li class="nav-item">
  	<%= link_to "產品說明", product_path(@product), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">消費者商品評鑑</a>
  </li>
</ul>