<section class="mains_index">
	<div class="container-fluid">
		<div class="row">
			<div class="sidebar col-12 col-sm-4 col-md-4 col-lg-2 mt-4">
				<%= render "admin/shared/sidebar" %>
			</div>

			<div class="sidecontent col-12 col-sm-8 col-md-8 col-lg-10 mt-4">
			</div>
		</div>
	</div>
</section>